@page "/"
@using Python.Runtime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    static void RunScript(string script){
        //Runtime PythonDLL = @"C:\Users\alexa\AppData\Local\Programs\Python\Python312\python312.dll";

    }
}