@using EnergyInsightHub.Data
@using EnergyInsightHub.Models
@using Microsoft.EntityFrameworkCore

@page "/"
@rendermode InteractiveServer

@inject IDbContextFactory<EnergyHubContext> EnergyHubContextFactory

<PageTitle>Home</PageTitle>

<h1>Energy Insight Hub</h1>


@code{
    List<Reading> Readings = new();

    protected override async void OnInitialized()
    {
        var _context = await EnergyHubContextFactory.CreateDbContextAsync();
        if (_context != null)
        {
            try
            {
                Readings = _context.Readings.ToList();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.StackTrace);
            }
        }
    }
}